.websiteBody{
  margin: 0;
}.Page{
  display:block;
  margin:auto;
  width:100%;
  height:auto;
  pointer-events:auto;
}
.Page-outer{
  pointer-events:none;
  z-index:1;
}
.Frame{
  position:relative;
  z-index:2;
  pointer-events:none;
  width:100%;
  margin-left:0;
  height:1030px;
  min-width:200px;
  max-width:1366px;
  margin:auto;
  background-color:rgba(255, 255, 255, 1);
  overflow:hidden;
}
.Frame-outer{
  pointer-events:none;
  z-index:2;
}
.Rectangle-3{
  position:relative;
  z-index:3;
  pointer-events:none;
  margin-left:0px;
  width:681px;
  min-width:681px;
  height:1030px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:1030px;
  content:url(../assets/images/Rectangle_3.png);
}
.Rectangle-3-outer{
  pointer-events:none;
  z-index:3;
  position:relative;
  display:flex;
}
.Group-4{
  position:relative;
  z-index:9;
  pointer-events:none;
  margin-left:784px;
  width:408px;
  min-width:408px;
  height:75px;
  margin-top:-844px;
  margin-bottom:769px;
  min-height:75px;
}
.Group-4-outer{
  pointer-events:none;
  z-index:9;
  position:relative;
  display:flex;
}
.image-6{
  position:relative;
  z-index:11;
  pointer-events:none;
  margin-left:0px;
  width:127px;
  min-width:127px;
  height:75px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:75px;
  content:url(../assets/images/image_5.png);
}
.image-6-outer{
  pointer-events:none;
  z-index:11;
  position:relative;
  display:flex;
}
.Medifind{
  position:relative;
  z-index:10;
  pointer-events:none;
  margin-left:108px;
  width:300px;
  min-width:300px;
  margin-top:-57px;
  margin-bottom:18px;
  min-height:39px;
  text-align:center;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Fredoka One;
  font-weight:400;
  font-size:64px;
  line-height:77px;
}
.Medifind-outer{
  pointer-events:none;
  z-index:10;
  position:relative;
  display:flex;
}
.Medifind-1{
  color:rgba(3, 3, 3, 1);
  font-style:normal;
  font-family:Fredoka One;
  font-weight:400;
  font-size:64px;
  line-height:77px;
}
.Medifind-2{
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Fredoka One;
  font-weight:400;
  font-size:64px;
  line-height:77px;
}
.Bienvenido-administr{
  position:relative;
  z-index:4;
  pointer-events:none;
  margin-left:784px;
  width:473px;
  min-width:473px;
  margin-top:-769px;
  margin-bottom:698px;
  min-height:71px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(97, 87, 87, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:700;
  font-size:40px;
  line-height:48px;
}
.Bienvenido-administr-outer{
  pointer-events:none;
  z-index:4;
  position:relative;
  display:flex;
}
.Seleccione-una-opci-{
  position:relative;
  z-index:5;
  pointer-events:none;
  margin-left:778px;
  width:473px;
  min-width:473px;
  margin-top:-676px;
  margin-bottom:605px;
  min-height:71px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(97, 87, 87, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:700;
  font-size:40px;
  line-height:48px;
}
.Seleccione-una-opci--outer{
  pointer-events:none;
  z-index:5;
  position:relative;
  display:flex;
}
.Group-5{
  position:relative;
  z-index:15;
  pointer-events:none;
  margin-left:837px;
  width:355px;
  min-width:355px;
  height:74px;
  margin-top:-502px;
  margin-bottom:428px;
  min-height:74px;
}
.Group-5-outer{
  pointer-events:none;
  z-index:15;
  position:relative;
  display:flex;
}
.Rectangle-1{
  position:relative;
  z-index:16;
  pointer-events:none;
  margin-left:0px;
  width:355px;
  min-width:355px;
  height:74px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:74px;
  background-color:rgba(71, 68, 220, 1);
  border-radius:45px;
}
.Rectangle-1-outer{
  pointer-events:none;
  z-index:16;
  position:relative;
  display:flex;
}
.Crear-usuario{
  position:relative;
  z-index:17;
  pointer-events:none;
  margin-left:43px;
  width:288px;
  min-width:288px;
  margin-top:-58px;
  margin-bottom:17px;
  min-height:41px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(252, 252, 252, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:700;
  font-size:36px;
  line-height:43px;
}
.Crear-usuario-outer{
  pointer-events:none;
  z-index:17;
  position:relative;
  display:flex;
}
.Group-3{
  position:relative;
  z-index:12;
  pointer-events:none;
  margin-left:837px;
  width:355px;
  min-width:355px;
  height:74px;
  margin-top:-390px;
  margin-bottom:316px;
  min-height:74px;
}
.Group-3-outer{
  pointer-events:none;
  z-index:12;
  position:relative;
  display:flex;
}
.Rectangle-1-1{
  position:relative;
  z-index:13;
  pointer-events:none;
  margin-left:0px;
  width:355px;
  min-width:355px;
  height:74px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:74px;
  background-color:rgba(71, 68, 220, 1);
  border-radius:45px;
}
.Rectangle-1-1-outer{
  pointer-events:none;
  z-index:13;
  position:relative;
  display:flex;
}
.Eliminar-usuario{
  position:relative;
  z-index:14;
  pointer-events:none;
  margin-left:43px;
  width:288px;
  min-width:288px;
  margin-top:-58px;
  margin-bottom:17px;
  min-height:41px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(252, 252, 252, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:700;
  font-size:36px;
  line-height:43px;
}
.Eliminar-usuario-outer{
  pointer-events:none;
  z-index:14;
  position:relative;
  display:flex;
}
.Group-2{
  position:relative;
  z-index:6;
  pointer-events:none;
  margin-left:837px;
  width:355px;
  min-width:355px;
  height:74px;
  margin-top:-278px;
  margin-bottom:204px;
  min-height:74px;
}
.Group-2-outer{
  pointer-events:none;
  z-index:6;
  position:relative;
  display:flex;
}
.Rectangle-1-2{
  position:relative;
  z-index:7;
  pointer-events:none;
  margin-left:0px;
  width:355px;
  min-width:355px;
  height:74px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:74px;
  background-color:rgba(96, 93, 248, 1);
  border-radius:45px;
}
.Rectangle-1-2-outer{
  pointer-events:none;
  z-index:7;
  position:relative;
  display:flex;
}
.Cerrar-Sesi-n{
  position:relative;
  z-index:8;
  pointer-events:none;
  margin-left:56px;
  width:244px;
  min-width:244px;
  margin-top:-57px;
  margin-bottom:16px;
  min-height:41px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(252, 252, 252, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:700;
  font-size:36px;
  line-height:43px;
}
.Cerrar-Sesi-n-outer{
  pointer-events:none;
  z-index:8;
  position:relative;
  display:flex;
}
