.websiteBody {
  margin: 0;
}

.Page {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  pointer-events: auto;
}

.Page-outer {
  pointer-events: none;

}

.Frame {
  position: relative;
  pointer-events: none;
  width: 100%;
  margin-left: 0;
  height: 1024px;
  min-width: 200px;
  max-width: 1365px;
  margin: auto;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
}

.Frame-outer {
  pointer-events: none;
}

.Rectangle-13 {

  pointer-events: none;
  margin-left: -2px;
  width: 1370px;
  min-width: 1370px;
  height: 1024px;
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 1024px;
  background-color: rgba(193, 191, 255, 0.10000000149011612);
}

.Rectangle-13-outer {
  pointer-events: none;
  display: flex;
}

.image-12 {
  position: relative;
  pointer-events: none;
  margin-left: 0px;
  width: 1365px;
  min-width: 1365px;
  height: 1024px;
  margin-top: -1024px;
  margin-bottom: 0px;
  min-height: 1024px;
  content: url(assets/images/image_12.png);
}

.image-12-outer {
  pointer-events: none;
  position: relative;
  display: flex;
}

.Group-7 {
  position: relative;
  pointer-events: none;
  margin-left: 1135px;
  width: 210px;
  min-width: 210px;
  height: 44px;
  margin-top: -970px;
  margin-bottom: 926px;
  min-height: 44px;
}

.Group-7-outer {
  pointer-events: none;
  position: relative;
  display: flex;
}

.image-8 {
  position: relative;
  pointer-events: none;
  margin-left: 0px;
  width: 44px;
  min-width: 44px;
  height: 44px;
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 44px;
  content: url(assets/images/image_8.png);
}

.image-8-outer {
  pointer-events: none;
  position: relative;
  display: flex;
}

.Cuenta {
  position: relative;
  pointer-events: none;
  margin-left: 9px;
  width: 201px;
  min-width: 201px;
  margin-top: -42px;
  margin-bottom: 3.6500000000000057px;
  min-height: 31.35px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(0, 0, 0, 1);
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
}

.Cuenta-outer {
  pointer-events: none;
  position: relative;
  display: flex;
}

.Bienvenido-asegurado {
  position: relative;
  pointer-events: none;
  margin-left: 346px;
  width: 673px;
  min-width: 673px;
  margin-top: -875px;
  margin-bottom: 793px;
  min-height: 82px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(0, 0, 0, 1);
  font-style: normal;
  font-family: Magra;
  font-weight: 400;
  font-size: 64px;
  line-height: 78px;
}

.Bienvenido-asegurado-outer {
  pointer-events: none;
  position: relative;
  display: flex;
}

.Seleccione-la-seccio {
  position: relative;
  pointer-events: none;
  margin-left: 391px;
  width: 591px;
  min-width: 591px;
  margin-top: -778px;
  margin-bottom: 738px;
  min-height: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(0, 0, 0, 1);
  font-style: normal;
  font-family: Roboto;
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
}

.Seleccione-la-seccio-outer {
  pointer-events: none;
  position: relative;
  display: flex;
}

.Group-1-2 {
  position: relative;
  pointer-events: none;
  margin-left: 450px;
  width: 465.72px;
  min-width: 465.72px;
  height: 91.76px;
  margin-top: -705px;
  margin-bottom: 613.24px;
  min-height: 91.76px;
}

.Group-1-2-outer {
  pointer-events: none;
  position: relative;
  display: flex;
}

.Rectangle-1-4 {
  position: relative;
  pointer-events: none;
  margin-left: 0px;
  width: 465.72px;
  min-width: 465.72px;
  height: 91.76px;
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 91.76px;
  background-color: rgba(59, 78, 251, 0.8899999856948853);
  border-radius: 25px;
}

.Rectangle-1-4-outer {
  pointer-events: none;
  position: relative;
  display: flex;
}

.Mi-sesion {
  position: relative;
  pointer-events: none;
  margin-left: 74px;
  width: 320.1px;
  min-width: 320.1px;
  margin-top: -71.76px;
  margin-bottom: 20.91999999999996px;
  min-height: 50.84px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(252, 252, 252, 1);
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
}

.Mi-sesion-outer {
  pointer-events: none;
  position: relative;
  display: flex;
}

.Group-2 {
  position: relative;
  pointer-events: none;
  margin-left: 450px;
  width: 465.72px;
  min-width: 465.72px;
  height: 342.24px;
  margin-top: -585px;
  margin-bottom: 242.76px;
  min-height: 342.24px;
}

.Group-2-outer {
  pointer-events: none;
  position: relative;
  display: flex;
}

.Rectangle-1-2 {
  position: relative;
  pointer-events: none;
  margin-left: 0px;
  width: 465.72px;
  min-width: 465.72px;
  height: 91.76px;
  margin-top: 0px;
  margin-bottom: 250.48000000000002px;
  min-height: 91.76px;
  background-color: rgba(111, 125, 246, 1);
  border-radius: 25px;
}

.Rectangle-1-2-outer {
  pointer-events: none;
  position: relative;
  display: flex;
}

.Familiar-1 {
  position: relative;
  pointer-events: none;
  margin-left: 74px;
  width: 320.1px;
  min-width: 320.1px;
  margin-top: -322.24px;
  margin-bottom: 271.4px;
  min-height: 50.84px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(252, 252, 252, 1);
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
}

.Familiar-1-outer {
  pointer-events: none;
  position: relative;
  display: flex;
}

.Group-1 {
  position: relative;
  pointer-events: none;
  margin-left: 0px;
  width: 465.72px;
  min-width: 465.72px;
  height: 214.52px;
  margin-top: -214.24px;
  margin-bottom: -0.2799999999999727px;
  min-height: 214.52px;
}

.Group-1-outer {
  pointer-events: none;
  position: relative;
  display: flex;
}

.Rectangle-1-1 {
  position: relative;
  pointer-events: none;
  margin-left: 0px;
  width: 465.72px;
  min-width: 465.72px;
  height: 91.76px;
  margin-top: 0px;
  margin-bottom: 122.75999999999999px;
  min-height: 91.76px;
  background-color: rgba(111, 125, 246, 1);
  border-radius: 25px;
}

.Rectangle-1-1-outer {
  pointer-events: none;
  position: relative;
  display: flex;
}

.Familiar-2 {
  position: relative;
  pointer-events: none;
  margin-left: 74px;
  width: 320.1px;
  min-width: 320.1px;
  margin-top: -194.52px;
  margin-bottom: 143.67999999999995px;
  min-height: 50.84px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(252, 252, 252, 1);
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
}

.Familiar-2-outer {
  pointer-events: none;
  position: relative;
  display: flex;
}

.Group-1-1 {
  position: relative;
  pointer-events: none;
  margin-left: 0px;
  width: 465.72px;
  min-width: 465.72px;
  height: 91.76px;
  margin-top: -91.52000000000001px;
  margin-bottom: -0.2400000000000091px;
  min-height: 91.76px;
}

.Group-1-1-outer {
  pointer-events: none;
  position: relative;
  display: flex;
}

.Rectangle-1 {
  position: relative;
  pointer-events: none;
  margin-left: 0px;
  width: 465.72px;
  min-width: 465.72px;
  height: 91.76px;
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 91.76px;
  background-color: rgba(111, 125, 246, 1);
  border-radius: 25px;
}

.Rectangle-1-outer {
  pointer-events: none;
  position: relative;
  display: flex;
}

.Familiar-3 {
  position: relative;
  pointer-events: none;
  margin-left: 74px;
  width: 320.1px;
  min-width: 320.1px;
  margin-top: -71.76px;
  margin-bottom: 20.91999999999996px;
  min-height: 50.84px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(252, 252, 252, 1);
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
}

.Familiar-3-outer {
  pointer-events: none;
  position: relative;
  display: flex;
}

.Group-3 {
  position: relative;
  pointer-events: none;
  margin-left: 450px;
  width: 465.72px;
  min-width: 465.72px;
  height: 91.76px;
  margin-top: -214px;
  margin-bottom: 122.24000000000001px;
  min-height: 91.76px;
}

.Group-3-outer {
  pointer-events: none;
  position: relative;
  display: flex;
}

.Rectangle-1-3 {
  position: relative;
  pointer-events: none;
  margin-left: 0px;
  width: 465.72px;
  min-width: 465.72px;
  height: 91.76px;
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 91.76px;
  background-color: rgba(82, 80, 210, 1);
  border-radius: 25px;
}

.Rectangle-1-3-outer {
  pointer-events: none;
  position: relative;
  display: flex;
}

.SALIR {
  position: relative;
  pointer-events: none;
  margin-left: 73px;
  width: 320.1px;
  height: auto;
  min-width: 320.1px;
  margin-top: -71.76px;
  margin-bottom: 20.91999999999996px;
  min-height: 50.84px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
}

.SALIR-outer {
  pointer-events: none;
  position: relative;
  display: flex;
}

.Group-6 {
  position: relative;
  pointer-events: none;
  margin-left: 21px;
  width: 324px;
  min-width: 324px;
  height: 46px;
  margin-top: -79px;
  margin-bottom: 33px;
  min-height: 46px;
}

.Group-6-outer {
  pointer-events: none;
  position: relative;
  display: flex;
}

.image-6 {
  position: relative;
  pointer-events: none;
  margin-left: 0px;
  width: auto;
  min-width: 106px;
  height: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 46px;
  content: url(assets/images/image_6.png);
}

.image-6-outer {
  pointer-events: none;
  position: relative;
  display: flex;
}

.Medifind {
  position: relative;
  pointer-events: none;
  margin-left: 24px;
  width: 300px;
  min-width: 300px;
  margin-top: -36px;
  margin-bottom: 7.399999999999977px;
  min-height: 28.6px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  font-style: normal;
  font-family: Fredoka One;
  font-weight: 400;
  font-size: 42px;
  line-height: 51px;
}

.Medifind-outer {
  pointer-events: none;
  position: relative;
  display: flex;
}

.Medifind-1 {
  color: rgba(3, 3, 3, 1);
  font-style: normal;
  font-family: Fredoka One;
  font-weight: 400;
  font-size: 42px;
  line-height: 51px;
}

.Medifind-2 {
  color: rgba(0, 0, 0, 1);
  font-style: normal;
  font-family: Fredoka One;
  font-weight: 400;
  font-size: 42px;
  line-height: 51px;
}
