.websiteBody{
  margin: 0;
}.Page{
  display:block;
  margin:auto;
  width:100%;
  height:auto;
  pointer-events:auto;
}
.Page-outer{
  pointer-events:none;
  z-index:1;
}
.Frame{
  position:relative;
  z-index:2;
  pointer-events:none;
  width:100%;
  margin-left:0;
  height:1030px;
  min-width:200px;
  max-width:1366px;
  margin:auto;
  background-color:rgba(255, 255, 255, 1);
  overflow:hidden;
}
.Frame-outer{
  pointer-events:none;
  z-index:2;
}
.Rectangle-3{
  position:relative;
  z-index:3;
  pointer-events:none;
  margin-left:0px;
  width:681px;
  min-width:681px;
  height:1030px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:1030px;
  content:url(../assets/images/Rectangle_3.png);
}
.Rectangle-3-outer{
  pointer-events:none;
  z-index:3;
  position:relative;
  display:flex;
}
.Group-4{
  position:relative;
  z-index:13;
  pointer-events:none;
  margin-left:784px;
  width:408px;
  min-width:408px;
  height:75px;
  margin-top:-844px;
  margin-bottom:769px;
  min-height:75px;
}
.Group-4-outer{
  pointer-events:none;
  z-index:13;
  position:relative;
  display:flex;
}
.image-6{
  position:relative;
  z-index:15;
  pointer-events:none;
  margin-left:0px;
  width:127px;
  min-width:127px;
  height:75px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:75px;
  content:url(../assets/images/image_5.png);
}
.image-6-outer{
  pointer-events:none;
  z-index:15;
  position:relative;
  display:flex;
}
.Medifind{
  position:relative;
  z-index:14;
  pointer-events:none;
  margin-left:108px;
  width:300px;
  min-width:300px;
  margin-top:-57px;
  margin-bottom:18px;
  min-height:39px;
  text-align:center;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Fredoka One;
  font-weight:400;
  font-size:64px;
  line-height:77px;
}
.Medifind-outer{
  pointer-events:none;
  z-index:14;
  position:relative;
  display:flex;
}
.Medifind-1{
  color:rgba(3, 3, 3, 1);
  font-style:normal;
  font-family:Fredoka One;
  font-weight:400;
  font-size:64px;
  line-height:77px;
}
.Medifind-2{
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Fredoka One;
  font-weight:400;
  font-size:64px;
  line-height:77px;
}
.M-dulo-de-Inicio-de-{
  position:relative;
  z-index:6;
  pointer-events:none;
  margin-left:817px;
  width:379px;
  min-width:379px;
  margin-top:-700px;
  margin-bottom:664px;
  min-height:36px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(97, 87, 87, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:700;
  font-size:40px;
  line-height:48px;
}
.M-dulo-de-Inicio-de--outer{
  pointer-events:none;
  z-index:6;
  position:relative;
  display:flex;
}
.C-digo-del-asegurado{
  position:relative;
  z-index:8;
  pointer-events:none;
  margin-left:767px;
  width:300px;
  min-width:300px;
  margin-top:-570px;
  margin-bottom:534px;
  min-height:36px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(97, 87, 87, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:700;
  font-size:30px;
  line-height:37px;
}
.C-digo-del-asegurado-outer{
  pointer-events:none;
  z-index:8;
  position:relative;
  display:flex;
}
.Rectangle-6{
  position:relative;
  z-index:5;
  pointer-events:none;
  margin-left:771px;
  width:487px;
  min-width:487px;
  height:46px;
  margin-top:-523px;
  margin-bottom:477px;
  min-height:46px;
  background-color:rgba(255, 254, 254, 1);
  filter:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border:1px solid rgba(0, 0, 0, 1);
  box-sizing:border-box;
}
.Rectangle-6-outer{
  pointer-events:none;
  z-index:5;
  position:relative;
  display:flex;
}
.Contrase-a{
  position:relative;
  z-index:9;
  pointer-events:none;
  margin-left:771px;
  width:157px;
  min-width:157px;
  margin-top:-465px;
  margin-bottom:429px;
  min-height:36px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(97, 87, 87, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:700;
  font-size:30px;
  line-height:37px;
}
.Contrase-a-outer{
  pointer-events:none;
  z-index:9;
  position:relative;
  display:flex;
}
.Rectangle-5{
  position:relative;
  z-index:4;
  pointer-events:none;
  margin-left:771px;
  width:487px;
  min-width:487px;
  height:46px;
  margin-top:-405px;
  margin-bottom:359px;
  min-height:46px;
  background-color:rgba(255, 254, 254, 1);
  filter:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border:1px solid rgba(0, 0, 0, 1);
  box-sizing:border-box;
}
.Rectangle-5-outer{
  pointer-events:none;
  z-index:4;
  position:relative;
  display:flex;
}
.Group-2{
  position:relative;
  z-index:10;
  pointer-events:none;
  margin-left:837px;
  width:355px;
  min-width:355px;
  height:74px;
  margin-top:-312px;
  margin-bottom:238px;
  min-height:74px;
}
.Group-2-outer{
  pointer-events:none;
  z-index:10;
  position:relative;
  display:flex;
}
.Rectangle-1{
  position:relative;
  z-index:11;
  pointer-events:none;
  margin-left:0px;
  width:355px;
  min-width:355px;
  height:74px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:74px;
  background-color:rgba(96, 93, 248, 1);
  border-radius:45px;
}
.Rectangle-1-outer{
  pointer-events:none;
  z-index:11;
  position:relative;
  display:flex;
}
.Iniciar-Sesi-n{
  position:relative;
  z-index:12;
  pointer-events:none;
  margin-left:56px;
  width:244px;
  min-width:244px;
  margin-top:-57px;
  margin-bottom:16px;
  min-height:41px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(252, 252, 252, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:700;
  font-size:36px;
  line-height:43px;
}
.Iniciar-Sesi-n-outer{
  pointer-events:none;
  z-index:12;
  position:relative;
  display:flex;
}
.q-Olvid--su-c-digo-y{
  position:relative;
  z-index:7;
  pointer-events:none;
  margin-left:754px;
  width:496px;
  min-width:496px;
  margin-top:-222px;
  margin-bottom:111px;
  min-height:111px;
  text-align:center;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:700;
  font-size:30px;
  line-height:37px;
}
.q-Olvid--su-c-digo-y-outer{
  pointer-events:none;
  z-index:7;
  position:relative;
  display:flex;
}
.q-Olvid--su-c-digo-y-1{
  color:rgba(97, 87, 87, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:700;
  font-size:30px;
  line-height:37px;
}
.q-Olvid--su-c-digo-y-2{
  color:rgba(114, 80, 210, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:700;
  font-size:30px;
  line-height:37px;
}
