/*general*/

body {
    overflow-x: hidden;
}

*{
    margin: 0px;
    padding: 0px;
}

input, select, button{
    width: 426px ;
    height: 64px !important;
}

a {
    text-decoration: none !important;
}

/*utilities*/

.min-h-550p {
    min-height: 550px;
}

.min-h-100vh {
    min-height: 100vh;
}

.bg-2nd {
    background: rgba(204, 204, 241, 0.294);
}

.btn-colors {
    background-color: #9395ff;
    color: white !important;
}

.bg-1st {
    background-color: #b3b2ff;
}

.border-sacns-ge {
    border: 1px solid #6574ff !important; 
}

.polygon {
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.fs-6 {
    font-size: 13px !important;
}

.pointer {
    cursor: pointer;
}

.label-color {
    color: #605d64;
    font-size: 16px;
}

.fs-7 {
    font-size: 8px !important;
}

.logo {
    font-size: 50px;
}

/*login-page*/

.fst-quote-container {
    background: linear-gradient(0deg, rgba(136, 128, 255, 0.9), rgba(151, 175, 255, 0.9)), url(https://d7lju56vlbdri.cloudfront.net/var/ezwebin_site/storage/images/_aliases/img_1col/noticias/mas-sars-cov-2-en-los-pasillos-de-hospitales-que-en-las-habitaciones-de-los-pacientes/9254010-1-esl-MX/Mas-SARS-CoV-2-en-los-pasillos-de-hospitales-que-en-las-habitaciones-de-los-pacientes.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.text-quote-login {
    margin-top: 100px;
    position: center;
}

.box-pre-login {
    min-height: 96px;
    position: center;
    width: 450px;
    transition: all 300ms;
}

.arrow {
    transition: all 300ms;
}

.box-pre-login:hover {
    transform: scale(1.1,1.1);
}

.box-pre-login:hover .arrow {
    display: block !important;
}

#containerLoginPageRight {
    max-width: 500px;
}