body {
    overflow-x: hidden;
    background: url(https://sanjuandedios.pe/clinicalima/assets/images/banner-251121.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font:400 14px 'Calibri','Arial';
  padding:10px;
}

*{
    margin: 0px;
    padding: 0px;
}

h1{
    color: black;
    font-size: 30px;
}
h2{
    color: black;
    font-size: 20px;
}
table 			      { 
  border-spacing: 1; 
  border-collapse: collapse; 
  background:white;
  border-radius:6px;
  overflow:hidden;
  max-width:800px; 
  width:100%;
  margin:0 auto;
  position:relative;
}
  * { 
      position:relative }
  
  td,th           { padding-left:8px}

  thead tr        { 
    height:60px;
    background:#d8d4ff;
    font-size:16px;
  }
  
  tbody tr        { height:48px; border-bottom:1px solid #E3F1D5 ;

  }
  
 






blockquote {
  color:white;
  text-align:center;
}

input, select, button{
   
    background-color: rgb(85, 73, 255);
    border: none;
    color: white;
   position: relative;
    padding: 16px 16px; 
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
    
    width: 120px; 
    text-align:center;
    display: flex;
}


