body {
    overflow-x: hidden;
    background: linear-gradient(0deg, rgba(136, 128, 255, 0.2), rgba(151, 175, 255, 0.2)), url(https://www.comexperu.org.pe/upload/images/sem-1059_hechos-210121-055201.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font:400 14px 'Calibri','Arial';
  padding:20px;
}

*{
    margin: 0px;
    padding: 0px;
}



table 			      { 
  border-spacing: 1; 
  border-collapse: collapse; 
  background:white;
  border-radius:6px;
  overflow:hidden;
  max-width:800px; 
  width:100%;
  margin:0 auto;
  position:relative;
}
  * { 
      position:relative }
  
  td,th           { padding-left:8px}

  thead tr        { 
    height:60px;
    background:#dfd4ff;
    font-size:16px;
  }
  
  tbody tr        { height:48px; border-bottom:1px solid #E3F1D5 ;

  }
  
 






blockquote {
  color:white;
  text-align:center;
}

input, select, button{
   
    background-color: rgb(93, 79, 218);
    border: none;
    color: white;
   position: relative;
    padding: 16px 16px; 
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
    
    width: 120px; 
    text-align:center;
    display: flex;
}


